html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 80%;
    margin: auto;
}

ol {
    padding: 0;
    list-style: none;
}

.character {
    font-size: 1.25em;
    padding: 0.75em;
}

.hobbit { background: #4caf50; }
.wizard { background: #f44336; }
.elf { background: #ab47bc; }
.dwarf { background: #ffc107; }
.man { background: #2196f3; }
